body{
    background-color: rgb(200, 200, 228);
    font-family: sans-serif;
    margin: 20px 20px 20px 20px;
    border: 3px solid rgb(18, 19, 19);
    padding-bottom: 55px;
    
}
button{
    cursor: pointer;
    padding: 10px;
    width: 100px;
    height: 50px;
    border: none;
    border: 1px solid rgb(10, 10, 10);
    font-weight: bolder;
    margin-right: 33px;
}
.btnAction{
    margin-left: 23%;
    margin-top: 10%;
    
}
.active{
    background: black;
    color: white;
}
.box{
    background-color: white;
    width: 800px;
    margin: 5% auto;
    height: 300px;
    overflow: hidden;
    overflow-y: scroll;
}
p{
    text-align: justify;
    padding: 20px 20px 20px 20px;
}
.bold{
    font-weight: bold;
}
.italic{
    font-style: italic;
}
.color{
    background-color: cornflowerblue;
}
.sizeSmall{
    font-size: smaller;
}
.sizeGreat{
    font-size: large;
}

.clear{
    font-weight: normal;
    font-style: normal;
    background-color: white;
    font-size: 16px;
}
button:hover{
    background-color: #323330;
    color: white;
    transition: 0.3s ease-in-out;
}